:root {
    --light-blue: #EAF0F7; /* Lightest shade */
    --soft-blue: #7FADE0; /* Soft blue shade */
    --medium-blue: #2265A2; /* Medium blue */
    --dark-blue: #062654; /* Darkest shade */
    --white:white;
  }
  